<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Sobre mim</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho_menu">
            <a class="cabecalho_menu_link" href="portfolio.html">inicio</a>
            <a class="cabecalho_menu_link"  href="sobremim.html">Sobre mim</a>
        </nav>
    </header>
    <main  class="principal">
        <section class="principal_conteudo">
            <h1 class="principal_conteudo_titulo">Sobre mim</h1>
            <p class="principal_conteudo_texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a quam non nulla convallis luctus. Vivamus vel dui ac risus consectetur malesuada. Sed at ante vel nisi fringilla lacinia ac eu eros. Sed vestibulum, arcu a facilisis aliquam, turpis justo volutpat nisi, a varius libero sapien sit amet lectus. Integer bibendum eros nec facilisis efficitur. Integer pharetra felis in felis faucibus malesuada. Aenean aliquet, tortor ac mollis sodales, enim eros tempus lorem, ac sodales dui nisl vel purus.</p>
            <p class="principal_conteudo_texto">Fusce tristique bibendum turpis, id suscipit dui convallis ac. Donec tincidunt lacus sed sapien consectetur, non malesuada lorem scelerisque. Suspendisse tincidunt vel ex in vulputate. Aliquam erat volutpat. Aliquam erat volutpat. Sed suscipit turpis ac nisi tristique, nec vestibulum neque hendrerit. Vivamus lacinia massa eu sapien volutpat, eget convallis urna efficitur. Ut vulputate lorem at libe Nunc gravida scelerisque ante, a convallis lorem tincidunt et.
                Etiam non augue sed arcu fermentum tincidunt. Proin condimentum nibh nec erat auctor, eu scelerisque eros tempus. Aenean sed risus vitae ante dictum faucibus ac sit amet est. Aliquam erat volutpat. Fusce ut nisi orci. Vivamus vitae nisi eu felis sollicitudin interdum. Cras vestibulum, metus et fermentum consectetur, turpis augue faucibus purus, non feugiat eros nunc a augue. Aenean sed leo ac nulla faucibus bibendum. Quisque suscipit, tortor eu elementum elementum, orci lorem interdum leo, at volutpat nulla ligula vitae orci.</p>
        </section>
        <img class="foto_portifolio" src="./assets/celso.jpeg" alt="Foto do Celso Brunno">
    </main>
    <footer class="rodape">Desenvolvido por Brunno Rocha</footer>
</body>
</html>